/* General Settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  transition: 0.7s;
}

body {
  background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
}

/* header elements */
header {
  margin-top: 50px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px hsl(217, 16%, 45%) solid;
  border-radius: 10px;
  width: 50vw;
}
#score {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 115px;
}
#score h4 {
  color: hsl(229, 64%, 46%);
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: 600;
}
#score h1 {
  color: hsl(229, 25%, 31%);
  font-size: 50px;
  font-weight: 600;
}
/* main div setting */
.main-div {
  display: flex;
  justify-content: center;
  width: 313px;
  height: 100%;
  position: relative;
}
.main-div img {
  z-index: 0;
}
/* paper,rock, scissors settings */
.icon {
  position: absolute;
  z-index: 1;
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
}
.icon:hover {
  scale: 1.2;
  cursor: pointer;
}
.icon div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 6px rgba(0, 0, 0, 0.2);
}
#rock {
  bottom: 0;

  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}
#paper {
  left: -60px;
  top: -67px;

  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}
#scissors {
  right: -60px;
  top: -67px;
  border-radius: 50%;
  background-image: linear-gradient(
    to top,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
}
/* Rules modal settings */
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#rules-div {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  color: hsl(229, 25%, 31%);
}
#close {
  align-self: flex-end;
  position: relative;
  top: -310px;
}
#close:hover {
  cursor: pointer;
  background-image: url(./images/icon-close\ -\ hover.svg);
}

#rules-btn {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 35px;
  color: white;
  font-size: 19px;
  font-weight: 500;
  width: 120px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  border: 2px hsl(217, 15%, 76%) solid;
  border-radius: 7px;
  letter-spacing: 4px;
}
#rules-btn:hover {
  cursor: pointer;
  background-color: hsl(238, 40%, 27%);
}
/* hidden class for the main div */
.hidden {
  display: none;
}
/* the progress of the game  */
/* the main game div */
#battle-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: -100px;
  min-width: 50vw;
  padding: 0 10vw;
  width: fit-content;
  height: 360px;
  position: relative;
  gap: 40px;
}

/* paper,rock, scissors settings for game */
#battle-div .icon {
  position: unset;
}
#battle-div .icon div {
  height: 150px;
  width: 150px;
}
#battle-div h2 {
  color: white;
  align-self: center;
  z-index: 1;
}
/* user - right, house - left */
#left-side,
#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 200px;
  gap: 35px;
}
#left-side {
}

#left-side .icon {
  height: 200px;
  width: 200px;
}

#empty {
  z-index: 0;
  margin-top: 55px;
  border-radius: 50%;
  background-color: hsl(238deg 50% 12% / 38%);
  height: 120px;
  width: 120px;
}
#right-side .icon {
  z-index: 1;
  height: 200px;
  width: 200px;
}
/* declaration div*/
#middle {
  z-index: 1;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#middle h1 {
  color: white;
  font-weight: 600;
  font-size: 55px;
  text-align: center;
}
#middle button {
  background-color: white;
  color: hsl(214, 47%, 23%);
  font-weight: 600;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: none;
}
#middle button:hover {
  cursor: pointer;
  color: crimson;
}
#aura {
  position: absolute;
  height: 50vh;
  width: 50vw;
}
.user-won {
  z-index: 0;
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%) 27%,
    hsla(214, 47%, 23%, 0.695) 27%,
    hsla(214, 47%, 23%, 0.695) 37%,
    hsla(214, 47%, 23%, 0.464) 37%,
    hsla(214, 47%, 23%, 0.464) 47%,
    transparent 47%
  );
}
.house-won {
  z-index: 0;
  background-image: radial-gradient(
    circle,
    hsl(214, 47%, 23%) 27%,
    hsla(214, 47%, 23%, 0.695) 27%,
    hsla(214, 47%, 23%, 0.695) 37%,
    hsla(214, 47%, 23%, 0.464) 37%,
    hsla(214, 47%, 23%, 0.464) 47%,
    transparent 47%
  );
}
@media (max-width: 800px) {
  #container {
    margin-top: 20px;
    gap: 0;
  }
  header {
    width: 80vw;
    margin-bottom: 100px;
  }
  .main-div {
    display: flex;
    justify-content: center;
    height: 180px;
    width: fit-content;
  }
  .main-div img {
    object-fit: contain;
  }
  #battle-div {
    width: 80vw;
    gap: 0;
    padding-top: 40px;
  }
  .icon {
    height: 100px;
    width: 100px;
  }
  .icon:hover {
    scale: 1;
  }
  .icon div {
    height: 75px;
    width: 75px;
  }
  #scissors {
    right: 21px;
    top: -45px;
  }
  #paper {
    left: 30px;
    top: -45px;
  }
  #rules-btn {
    margin-top: 12vh;
    position: unset;
    font-size: 21px;
    font-weight: 500;
    width: 150px;
    height: 45px;
  }
  #modal {
    display: unset;
  }
  #rules-div {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 7px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 15vh;
  }
  #close {
    position: unset;
    align-self: unset;
  }
  #rules-div h1 {
    font-size: 45px;
    color: hsl(229, 25%, 31%);
  }
  .hidden {
    display: none;
  }
  #empty {
    margin: 0;
    position: unset;
    z-index: 0;
    height: 100px;
    width: 100px;
  }
  #battle-div .icon {
    height: 100px;
    width: 100px;
    position: unset;
  }
  #battle-div .icon div {
    height: 75px;
    width: 75px;
  }
  #left-side,
  #right-side {
    padding-top: 20px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  #right-side h2 {
    padding-right: 17px;
  }
  #middle {
    position: absolute;
    align-self: flex-end;
    z-index: 0;
  }
  #battle-div h2 {
    color: white;
    align-self: center;
    z-index: 1;
  }
  #aura {
    display: none;
  }
}
